/* font-family: "Space Mono", monospace; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

body {
  background-color: #c5e4e8;
}

.main-container header {
  text-align: center;
  padding: 35px 0 0 35px;
  color: #44696a;
  font-weight: 700;
  font-size: xx-large;
}

.sub-container {
  background-color: white;
  border-radius: 15px;
}

.bill {
  padding: 30px;
}
.bill h2 {
  color: #637778;
}
.dollar-unit {
  display: flex;
  justify-content: space-between;
  border: none;
  background-color: #f3f8fa;
  padding: 20px;
  border-radius: 5px;
}

.dollar-unit img {
  height: 30px;
}

.dollar-unit input {
  color: #00484e;
  font-weight: 700;
  font-size: x-large;
  background-color: transparent;
  border: none;
}

.select {
  padding: 0 30px 0 30px;
}

.select h2 {
  color: #637778;
}

.select button {
  margin: 5px;
  border: none;
  padding: 20px;
  width: 140px;
  background-color: #00484e;
  color: white;
  border-radius: 5px;
  font-weight: 700;
  font-size: x-large;
}

.select .btn_15 {
  background-color: #25c2ad;
  color: #00484e;
}

.select .custom {
  background-color: #f3f8fa;
  color: #637778;
}

.people {
  padding: 30px;
}
.people h2 {
  color: #637778;
  margin-bottom: 5px;
}

.tip-container {
  background-color: #00484e;
  margin: 20px 30px 30px 30px;
  border-radius: 10px;
}

.tip-amount,
.total {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.tip-amount h2,
.total h2 {
  color: white;
  font-size: large;
}

.tip-amount span,
.total span {
  color: #427575;
}

.tip-amount p,
.total p {
  color: #27c3ae;
  font-weight: 700;
  font-size: x-large;
}

.reset_btn button {
  margin: 20px;
  padding: 15px;
  border: none;
  width: 275px;
  background-color: #27c3ae;
  font-weight: 700;
  font-size: larger;
}

@media only screen and (min-width: 425px) {
  .select button {
    margin: 5px;
    border: none;
    padding: 20px;
    width: 165px;
    background-color: #00484e;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    font-size: x-large;
  }

  .reset_btn button {
    margin: 20px;
    padding: 15px;
    border: none;
    width: 325px;
    background-color: #27c3ae;
    font-weight: 700;
    font-size: larger;
    border-radius: 5px;
  }
}

@media only screen and (min-width: 768px) {
  .sub-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px;
  }

  .select button {
    margin: 5px;
    border: none;
    padding: 5px;
    width: 95px;
    background-color: #00484e;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    font-size: x-large;
  }

  .tip-container {
    margin-top: 40px;
  }

  .tip-amount,
  .total {
    padding: 40px;
  }

  .reset_btn {
    margin-top: 90px;
  }
}

@media only screen and (min-width: 1024px) {
  .sub-container {
    margin: 80px;
  }

  .select button {
    margin: 5px;
    border: none;
    padding: 10px;
    width: 107px;
    background-color: #00484e;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    font-size: x-large;
  }
  .reset_btn {
    margin-top: 50px;
  }
}

@media only screen and (min-width: 1440px) {
  .sub-container {
    margin: 120px;
  }

  .select button {
    margin: 10px;
    border: none;
    padding: 20px;
    width: 190px;
    background-color: #00484e;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    font-size: x-large;
  }

  .reset_btn button {
    width: 550px;
    margin-left: 55px;
    margin-right: 55px;
    margin-top: 50px;
  }

  .tip-amount,
  .total {
    margin-left: 30px;
    margin-right: 30px;
  }

  .tip-amount p,
  .total p {
    font-size: xx-large;
  }
}
